<h1>Registration page</h1>
<form (ngSubmit)="onSubmit(regForm)" #regForm="ngForm" [formGroup]="registrationForm">
    <div class="input-group mb-3">
        <input name="login" formControlName="userEmail" type="text" class="form-control" placeholder="login"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input name="name" formControlName="userName" type="text" class="form-control" placeholder="name">
    </div>
    <div class="input-group mb-3">
        <input name="city" formControlName="userCity" type="text" class="form-control" placeholder="city">
    </div>
    <div class="input-group mb-3">
        <input name="password" formControlName="userPassword" type="password" class="form-control"
            placeholder="password">
    </div>
    <div class="form-check mb-3">
        <input name="isAdmin" formControlName="isAdmin" type="checkbox" class="form-check-input" id="isAdminCheck">
        <label class="form-check-label" for="isAdminCheck">is admin</label>
    </div>
    <button [disabled]="regForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
</form>
