<h1>Login page</h1>
<form (ngSubmit)="onSubmit(logForm)" #logForm="ngForm" [formGroup]="loginForm" >
    <div class="input-group mb-3">
        <input  name="login" formControlName="userEmail" type="text" class="form-control" placeholder="login" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input name="password" autocomplete="off" formControlName="userPassword" type="password" class="form-control" placeholder="password">
    </div>
    <div class="btn-group-vertical btn-block">
        <button [disabled]="logForm.invalid" class="btn btn-success btn-lg btn-block" type="submit">Login</button>
        <button class="btn btn-primary btn-lg btn-block" (click)="goToRegistration()">Registration</button>
    </div>
</form>
