<h1>
    CART
</h1>

<div *ngIf="isLoading; else loaded" class="spinner-border text-primary"></div>

<ng-template #loaded>
    <div *ngIf="cart.length > 0; else empty">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Count</th>
                </tr>
            </thead>
    
            <tr *ngFor="let kk of cart;let ind = index">
                <th scope="row">{{ind + 1}}</th>
                <td>{{kk.product.name}}</td>
                <td>{{kk.product.price}}</td>
                <td>
                    <button (click)="getOutOfCart(kk.product._id)" type="button" class="btn btn-danger btn-sm">-</button>
                    <span style="font-size: 20pt;">{{kk.count}}</span>
                    <button (click)="addToCart(kk.product._id)" type="button" class="btn btn-success btn-sm">+</button>
                </td>
            </tr>
    
            <tr>
                <th colspan="3">Total price:</th>
                <td>{{totalPrice}}</td>
            </tr>
        </table>
    
        <button class="btn btn-success btn-lg btn-block" (click)="order()">ORDER!</button>
    </div>

    <ng-template #empty>
        <h3>EMPTY CART</h3>
    </ng-template>
</ng-template>
