<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="btn btn-outline-primary" [routerLink]="['/']">Главная </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" [routerLink]="['/catalog']">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary" [routerLink]="['/cart']">Корзина</a>
        </li>
        <li *ngIf="isLogined; else notLogined">
          <button class="btn btn-outline-danger" (click)="logOut()">log out</button>
        </li>
        <ng-template #notLogined>
          <li>
            <a class="btn btn-outline-success" [routerLink]="['/auth']">Log in</a>
          </li>
        </ng-template>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>