<h1>
    CATALOG
</h1>

<div *ngIf="isAdmin">
    <form (ngSubmit)="onSubmit(addForm)" #addForm="ngForm" [formGroup]="addProductForm">
        <div class="input-group mb-3">
            <input name="name" formControlName="name" type="text" class="form-control" placeholder="Bread">
        </div>
        <div class="input-group mb-3">
            <input name="name" formControlName="price" type="number" class="form-control" placeholder="1" min="1">
        </div>
        <button [disabled]="addForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit">Add to
            catalog</button>
    </form>
</div>

<div *ngIf="isLoading; else loaded" class="spinner-border text-primary"></div>

<ng-template #loaded>
    <div *ngIf="repData.length > 0; else empty">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Add to cart</th>
                </tr>
            </thead>

            <tr *ngFor="let kk of repData;">
                <td>{{kk.name}}</td>
                <td>{{kk.price}}</td>
                <td>
                    <button type="button" class="btn btn-outline-success" (click)="addToCart(kk._id)">Add</button>
                    &nbsp;
                    <button *ngIf="isAdmin" type="button" class="btn btn-outline-danger"
                        (click)="removeFromCatalog(kk._id)">Remone</button>
                </td>
            </tr>
        </table>



        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" (click)="prevPage()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <li *ngFor="let page of pages;" class="page-item" [ngClass]="{active: page.current}"><a class="page-link"
                    (click)="setPage(page.number)">{{page.number}}</a></li>

            <li class="page-item">
                <a class="page-link" (click)="nextPage()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

    <ng-template #empty>
        <h3>EMPTY CATALOG</h3>
    </ng-template>
</ng-template>