<h1>SUPER SHOP</h1>

<div *ngIf="user" class="card">
    <div class="card-header">
        <h2>Info</h2>
    </div>
    <div class="card-body">
        <h3>Email: {{user.email}}</h3>
        <h3>Name: {{user.name}}</h3>
        <h3>City: {{user.city}}</h3>
        <h3>Admin: {{user.isAdmin}}</h3>
    </div>
</div>

<div *ngIf="isAdmin">
    <button (click)="createData()" type="button" class="btn btn-outline-info btn-lg btn-block">Create DATA</button>
    <button (click)="clearData()" type="button" class="btn btn-outline-danger btn-lg btn-block">Clear DATA</button>

    <div *ngIf="orders">
        <h2>Orders</h2>
        <div *ngFor="let order of orders" class="card">
            <div class="card-header">
                <p>{{ order.customer.email }}</p>
                <p>{{ order.date }}</p>
            </div>
            <div class="card-body">
                <ul>
                    <li *ngFor="let cartItem of order.products">
                        <ul>
                            <li>Product: {{ cartItem.product.name }}</li>
                            <li>Price: {{ cartItem.product.price }}</li>
                            <li>Count: {{ cartItem.count }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card-header">
                <p>Total: {{ getSum(order) }}</p>
            </div>
        </div>
    </div>
</div>